src/workflows/v1_agent.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f65e587e-3020-49e7-ade9-3de0783d8e66",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"company\": \"TechCorp\",\n    \"contact_name\": \"Sarah\",\n    \"contact_email\": \"sarah@example.com\",\n    \"pain_point\": \"spending too much on SDR salaries\"\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "1aca4fdd-a2d9-46a8-bc52-e551b4e33ff5",
      "name": "Lead Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gtm_gateway:5000/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"How does V-List help with {{ $json.pain_point }}?\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "b18ab41e-6666-46dd-81a9-67eea08b6b0d",
      "name": "RAG (Gateway)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gtm_ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama3\",\n  \"stream\": false,\n  \"prompt\": \"Write a short cold email to {{ $('Lead Data').item.json.contact_name }} at {{ $('Lead Data').item.json.company }}. They suffer from {{ $('Lead Data').item.json.pain_point }}. Use this solution data: {{ $json.results[0].payload.page_content.replace(/\\n/g, ' ') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "37f60a5a-f874-4027-b4f2-5527a82c4937",
      "name": "Writer (Ollama)"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ai_logs",
          "mode": "list",
          "cachedResultName": "ai_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "agent_name": "V-List v1",
            "action_taken": "Drafted Email",
            "result_summary": "={{ $json.response }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_taken",
              "displayName": "action_taken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "result_summary",
              "displayName": "result_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "e6e00577-b201-445a-84e7-ef461a1d4c7f",
      "name": "Audit Log (Postgres)",
      "credentials": {
        "postgres": {
          "id": "G1msP6wlB0G3fwln",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "agents@v-list.ai",
        "toEmail": "={{ $('Lead Data').item.json.contact_email }}",
        "subject": "Quick question about {{ $('Lead Data').item.json.company }}",
        "text": "={{ $json.result_summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        0
      ],
      "id": "7878d052-7b2d-4561-9c88-e567f818b28f",
      "name": "Send Email",
      "credentials": {
        "smtp": {
          "id": "smtp_creds_id",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Data": {
      "main": [
        [
          {
            "node": "RAG (Gateway)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG (Gateway)": {
      "main": [
        [
          {
            "node": "Writer (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer (Ollama)": {
      "main": [
        [
          {
            "node": "Audit Log (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log (Postgres)": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bb85efb8a26b7c8f02e45fb1ac6b97f2f02888d7e768df0d70c73dc5433dbb3"
  }
}
